/* myboard-layouts.dtsi */
#include <physical_layouts.dtsi>

/ {

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        
        /* * 1u key size = 190 units (scaled for ZMK Studio display) 
         * Format: <&key_physical_attrs w h x y rot rx ry>
         */
        keys  // Row 1
            = <&key_physical_attrs 190 190 0 0 0 0 0>
            , <&key_physical_attrs 190 190 190 0 0 0 0>
            , <&key_physical_attrs 190 190 380 0 0 0 0>
            , <&key_physical_attrs 190 190 570 0 0 0 0>
            , <&key_physical_attrs 190 190 760 0 0 0 0>
            , <&key_physical_attrs 190 190 950 0 0 0 0>
            , <&key_physical_attrs 190 190 1140 0 0 0 0>
            , <&key_physical_attrs 190 190 1330 0 0 0 0>
            , <&key_physical_attrs 190 190 1520 0 0 0 0>
            , <&key_physical_attrs 190 190 1710 0 0 0 0>
            , <&key_physical_attrs 190 190 1900 0 0 0 0>
            , <&key_physical_attrs 190 190 2090 0 0 0 0>

            // Row 2
            , <&key_physical_attrs 190 190 0 190 0 0 0>
            , <&key_physical_attrs 190 190 190 190 0 0 0>
            , <&key_physical_attrs 190 190 380 190 0 0 0>
            , <&key_physical_attrs 190 190 570 190 0 0 0>
            , <&key_physical_attrs 190 190 760 190 0 0 0>
            , <&key_physical_attrs 190 190 950 190 0 0 0>
            , <&key_physical_attrs 190 190 1140 190 0 0 0>
            , <&key_physical_attrs 190 190 1330 190 0 0 0>
            , <&key_physical_attrs 190 190 1520 190 0 0 0>
            , <&key_physical_attrs 190 190 1710 190 0 0 0>
            , <&key_physical_attrs 190 190 1900 190 0 0 0>
            , <&key_physical_attrs 190 190 2090 190 0 0 0>

            // Row 3
            , <&key_physical_attrs 190 190 0 380 0 0 0>
            , <&key_physical_attrs 190 190 190 380 0 0 0>
            , <&key_physical_attrs 190 190 380 380 0 0 0>
            , <&key_physical_attrs 190 190 570 380 0 0 0>
            , <&key_physical_attrs 190 190 760 380 0 0 0>
            , <&key_physical_attrs 190 190 950 380 0 0 0>
            , <&key_physical_attrs 190 190 1140 380 0 0 0>
            , <&key_physical_attrs 190 190 1330 380 0 0 0>
            , <&key_physical_attrs 190 190 1520 380 0 0 0>
            , <&key_physical_attrs 190 190 1710 380 0 0 0>
            , <&key_physical_attrs 190 190 1900 380 0 0 0>
            , <&key_physical_attrs 190 190 2090 380 0 0 0>

            // Row 4
            , <&key_physical_attrs 190 190 0 570 0 0 0>
            , <&key_physical_attrs 190 190 190 570 0 0 0>
            , <&key_physical_attrs 190 190 380 570 0 0 0>
            , <&key_physical_attrs 190 190 570 570 0 0 0>
            , <&key_physical_attrs 190 190 760 570 0 0 0>
            , <&key_physical_attrs 190 190 950 570 0 0 0>
            , <&key_physical_attrs 190 190 1140 570 0 0 0>
            , <&key_physical_attrs 190 190 1330 570 0 0 0>
            , <&key_physical_attrs 190 190 1520 570 0 0 0>
            , <&key_physical_attrs 190 190 1710 570 0 0 0>
            , <&key_physical_attrs 190 190 1900 570 0 0 0>
            , <&key_physical_attrs 190 190 2090 570 0 0 0>
            ;
    };
};
